$tam-one: 20px;
$tip-one:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$sti-one: italic;
$mod-one: bold;


$tam-two: 15px;
$tip-two:Verdana, Geneva, Tahoma, sans-serif;

