.fondo{
    background-image: url(./../img/newfondooo1.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }


  
#conteiner__nos{
    background-image: url(./../img/carrusel/fodo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  
  /*sucursales*/
#conteiner__suc{
    background-image: url(./../img/agriculturafond.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  /*contacto*/
#conteiner__cont{
    background-image: url(./../img/carrusel/fondosok.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

body{
    overflow-x: hidden;
 }