/*Letra parrafo index*/
.letraini{
    font-size: $tam-one;
    font-family: $tip-one;
    font-style: $sti-one;
    font-weight:$mod-one;
  }

  /*barra de navegacion*/
.barracol{
    background-color: grey;
}