#conteiner__cont .poscont{
    display: inline;
    justify-content: center;
    align-items: center;
        background-image: url(../img/carrusel/fond.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        
}

.centro{
  display: flex;
  justify-content: center;
  align-items: center;
}

#conteiner__ind .letra{
    font-size: 20px;
    font-family: $tip-two;
    
}

main div p{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  }
  
  #conteiner__nos div p{
    font-size: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }

  main div {
    text-align: center;
  }
  main div img {
    display: block;
    text-align: center;
  }
  

  main div{

    text-align: center;
    img{
        display: block;
        text-align: center;
    }
    
}

#conteiner_contwo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}